[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SubpathwayLNCE"]
	path = SubpathwayLNCE
	url = https://github.com/cran/SubpathwayLNCE
	shallow = true
	registered = true
